.voice-button {
  background-color: #004736;
  border: none;
  border-radius: 50%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s;
  width: 60px;
  height: 60px;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(1.2);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  .ScaleLoader {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
