@import "../../../../styles/variables.scss";

.modal-create-group {
  @extend .modal;

  .modal-content {
    @extend .modal-content;

    h2 {
      margin-bottom: 20px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 10px;

      label {
        display: flex;
        flex-direction: column;
        font-weight: bold;

        input[type="text"], input[type="file"] {
          margin-top: 5px;
          padding: 8px;
          border: 1px solid $light-gray;
          border-radius: 5px;
        }

        button {
          margin-top: 5px;
          padding: 5px 10px;
          background-color: $primary-color;
          color: $white;
          border: none;
          border-radius: 5px;
          cursor: pointer;

          &:hover {
            background-color: darken($primary-color, 10%);
          }
        }
      }

      ul {
        list-style-type: none;
        padding: 0;

        li {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 5px;
          background-color: $secondary-color;
          border: 1px solid $light-gray;
          border-radius: 5px;
          margin-top: 5px;

          button {
            padding: 5px;
            background-color: #dc3545;
            color: $white;
            border: none;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
              background-color: darken(#dc3545, 10%);
            }
          }
        }
      }

      button[type="submit"] {
        padding: 10px;
        background-color: $primary-color;
        color: $white;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          background-color: darken($primary-color, 10%);
        }

        &:disabled {
          background-color: $light-gray;
          cursor: not-allowed;
        }
      }
    }
  }
}