// src/styles/ControlPanel.scss

.outer-container {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(250px + 30px); /* 250px de largura do painel + 30px extra */
  height: 100%;
  pointer-events: none; /* Permite clique nos elementos filhos, mas não no contêiner em si */
  z-index: 2000;
  transition: transform 0.3s ease-in-out;

  &.collapsed {
    transform: translateX(-250px); /* Esconde o painel de controle, deixando apenas 30px visíveis */
  }
}

.control-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: rgba(0, 71, 54, 0.8); /* Fundo com 80% de opacidade */
  color: #fff;
  padding: 20px;
  pointer-events: all;
  overflow: auto;

  &.dragging {
    background-color: rgba(0, 71, 54, 0.7);
    opacity: 0.7;
  }

  .controls {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .control-item {
      display: flex;
      flex-direction: column;
      gap: 10px;

      label {
        font-size: 14px;
        font-weight: bold;
      }

      .ant-slider,
      .ant-input-number,
      .ant-switch {
        width: 100%;
      }

      .ant-btn {
        margin: 0 5px;
        background-color: #fff;
        color: #004736;
        border: 1px solid #004736;

        &:hover {
          background-color: #004736;
          color: #fff;
          border-color: #fff;
        }
      }
    }
  }
}

.toggle-button {
  position: absolute;
  top: 10px;
  left: 250px; /* Alinhado à borda direita do painel de controle */
  width: 30px;
  height: 30px;
  background-color: #004736;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  pointer-events: all; /* Permite clique no botão de alternância */
  transition: opacity 0.3s ease-in-out;
}
