.voice-button-container {
  position: fixed; /* Alterado de absolute para fixed */
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vmin;
}



.bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;

  .bar {
    position: absolute;
    width: 15vmin; /* Proporcional ao menor lado da tela */
    height: 15vmin;
  }

  .voice-button {
    position: relative;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    padding: 2vmin; /* Proporcional ao tamanho da tela */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 18vmin; /* Proporcional ao menor lado da tela */
    height: 18vmin;
    border: solid 0.5vmin #cce4f8;
    box-shadow: 0 0 2vmin rgba(0, 140, 255, 0.6), 0 0 3vmin rgba(0, 140, 255, 0.5), 0 0 4vmin rgba(0, 140, 255, 0.4);
    animation: pulse 1.5s infinite;
    transition: box-shadow 0.3s ease-in-out;

    svg {
      width: 8vmin;
      height: 8vmin;
    }
  }

  .listening {
    animation: glow 1s ease-in-out infinite alternate;
    border: none;
  }
}

.text-container {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-text, .hint-text {
  font-family: 'Roboto', sans-serif;
  font-size: 3vmin; /* Texto proporcional ao menor lado da tela */
  color: #1a3b5d;
  transition: color 0.3s ease, transform 0.3s ease;
  text-align: center;
}

.hint-text {
  animation: shake 0.5s ease, fadeOut 3s ease forwards;
  text-shadow: 1px 1px 1vmin rgba(0, 0, 0, 0.4);
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  20%, 60% {
    transform: translateX(-1vmin);
  }
  40%, 80% {
    transform: translateX(1vmin);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 #d2eaff5e;
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0 0 2vmin rgba(0, 140, 255, 0.6), 0 0 3vmin rgba(0, 140, 255, 0.5), 0 0 4vmin rgba(0, 140, 255, 0.4);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(194, 224, 255, 0);
  }
}

@keyframes glow {
  0% {
    box-shadow: 0 0 2vmin rgba(0, 140, 255, 0.6), 0 0 3vmin rgba(0, 140, 255, 0.8), 0 0 4vmin rgba(0, 140, 255, 1);
  }
  100% {
    box-shadow: 0 0 4vmin rgba(0, 140, 255, 1), 0 0 6vmin rgba(0, 140, 255, 1), 0 0 8vmin rgba(0, 140, 255, 1);
  }
}
