@import "../../../../styles/variables.scss";

.response-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;

  .question,
  .loading-response,
  .response {
    display: flex;
    align-items: center;
    padding: 15px; // Aumentado para acomodar fontes maiores
    border-radius: 10px;
    color: $text;
    max-width: 50vw; // Proporcional à largura da tela
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    position: relative;
    font-size: 1.4rem; // Fonte ajustada para maior legibilidade
    line-height: 1.2;
  }

  .question {
    background-color: $primary-color;
    color: $white;
    align-self: flex-end;
    animation-name: slideInFromRight;

    p {
      font-size: 1.4rem; // Aumentar tamanho da fonte
      line-height: 1.2;
    }

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      right: -9px;
      width: 0;
      height: 0;
      border-left: 10px solid $primary-color;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      transform: translateY(-50%);
    }
  }

  .loading-response,
  .response {
    align-self: flex-start;
    animation-name: slideInFromLeft;
    display: flex;
    align-items: center;

    .avatar-container {
      width: 120px; // Ajustado para balões maiores
      height: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 15px;
    }

    .avatar-gif {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    .loading-response-text,
    .response-text {
      background-color: $light-gray;
      padding: 15px; // Aumentado para fontes maiores
      border-radius: 10px;
      color: $text;
      max-width: 80vw; // Proporcional à largura da tela
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      p {
        font-size: 1.4rem; // Aumentar tamanho da fonte
        line-height: 1.2;
        text-align: left; // Opcional para melhor legibilidade
      }

      &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: -9px;
        width: 0;
        height: 0;
        border-right: 10px solid $light-gray;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        transform: translateY(-50%);
      }

      .feedback-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .button-group {
          display: flex;
          justify-content: space-around;
          width: 100%;
          margin-top: 10px;

          button {
            background: none;
            border: none;
            font-size: 1.8rem; // Botões proporcionais
            cursor: pointer;
            margin-bottom: 10px;

            &.like:hover {
              color: green;
            }

            &.dislike:hover {
              color: red;
            }
          }
        }

        .progress-bar {
          width: 100%;
          background-color: $light-gray;
          border-radius: 5px;
          overflow: hidden;
          height: 6px; // Aumentado para melhor visibilidade
          margin-top: 5px;

          .progress {
            background-color: $primary-color;
            height: 100%;
            transition: width 0.5s linear;
          }
        }
      }
    }
  }

  @keyframes slideInFromRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slideInFromLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slideOutToLeft {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(-100%);
      opacity: 0;
    }
  }

  .response-exit {
    animation-name: slideOutToLeft;
  }
}

// Media query para ajustar em telas menores
@media (max-width: 600px) {
  .response-container {
    bottom: 10px;
    right: 10px;

    .question,
    .loading-response,
    .response {
      padding: 10px;
      max-width: 90vw;

      p {
        font-size: 1.4rem; // Ajuste para dispositivos menores
      }
    }
  }
}
