/* src/App.css */

.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #f0f0f0;
  overflow: hidden;
  touch-action: none; /* Previne comportamentos padrão indesejados */
}

.circle-button {
  position: absolute;
  background-color: #007bff;
  cursor: pointer;
}

.indicator {
  position: absolute;
  left: 20px;
  font-size: 20px;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 10px;
}

.indicator.active {
  top: 20px;
}

.indicator.moving {
  top: 60px;
}

.indicator.touch-count {
  top: 100px;
}

.touch-region {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 0.3);
  pointer-events: none;
}
